<header class='sticky-top'>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(211, 210, 208);">
    <div class="container">
      <a class="navbar-brand mx-0" href="/"><img src="/assets/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <div class="navbar-nav mr-auto">
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              北海道
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">            
              <li><a class="dropdown-item" href="#">北海道</a></li>
            </ul>
          </div>
          
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              東北
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">青森</a></li>
              <li><a class="dropdown-item" href="#">岩手</a></li>
              <li><a class="dropdown-item" href="#">宮城</a></li>
              <li><a class="dropdown-item" href="#">秋田</a></li>
              <li><a class="dropdown-item" href="#">山形</a></li>
              <li><a class="dropdown-item" href="#">福島</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              関東
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">茨城</a></li>
              <li><a class="dropdown-item" href="#">栃木</a></li>
              <li><a class="dropdown-item" href="#">群馬</a></li>
              <li><a class="dropdown-item" href="#">埼玉</a></li>
              <li><a class="dropdown-item" href="#">千葉</a></li>
              <li><a class="dropdown-item" href="#">東京</a></li>
              <li><a class="dropdown-item" href="#">神奈川</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              中部
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">新潟</a></li>
              <li><a class="dropdown-item" href="#">富山</a></li>
              <li><a class="dropdown-item" href="#">石川</a></li>
              <li><a class="dropdown-item" href="#">福井</a></li>
              <li><a class="dropdown-item" href="#">山梨</a></li>
              <li><a class="dropdown-item" href="#">長野</a></li>
              <li><a class="dropdown-item" href="#">岐阜</a></li>
              <li><a class="dropdown-item" href="#">静岡</a></li>
              <li><a class="dropdown-item" href="#">愛知</a></li>
              <li><a class="dropdown-item" href="#">三重</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              近畿
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">三重</a></li>
              <li><a class="dropdown-item" href="#">滋賀</a></li>
              <li><a class="dropdown-item" href="#">京都</a></li>
              <li><a class="dropdown-item" href="#">大阪</a></li>
              <li><a class="dropdown-item" href="#">兵庫</a></li>
              <li><a class="dropdown-item" href="#">奈良</a></li>
              <li><a class="dropdown-item" href="#">和歌山</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              中国/四国
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">鳥取</a></li>
              <li><a class="dropdown-item" href="#">島根</a></li>
              <li><a class="dropdown-item" href="#">岡山</a></li>
              <li><a class="dropdown-item" href="#">広島</a></li>
              <li><a class="dropdown-item" href="#">山口</a></li>
              <li><a class="dropdown-item" href="#">徳島</a></li>
              <li><a class="dropdown-item" href="#">香川</a></li>
              <li><a class="dropdown-item" href="#">愛媛</a></li>
              <li><a class="dropdown-item" href="#">高知</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              九州
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">福岡</a></li>
              <li><a class="dropdown-item" href="#">佐賀</a></li>
              <li><a class="dropdown-item" href="#">長崎</a></li>
              <li><a class="dropdown-item" href="#">熊本</a></li>
              <li><a class="dropdown-item" href="#">大分</a></li>
              <li><a class="dropdown-item" href="#">宮崎</a></li>
              <li><a class="dropdown-item" href="#">鹿児島</a></li>
              <li><a class="dropdown-item" href="#">沖縄</a></li>
            </ul>
          </div>
          
        </div>
        <ul class="navbar-nav">
          <% if logged_in? %>
          <li class="nav-item"><%= link_to '口コミ一覧', posts_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user), class: 'dropdown-link' %></li>
              <li class="dropdown-item"><%= link_to 'ユーザー一覧', users_path, class: 'dropdown-link' %></li>
              <li class="dropdown-item"><%= link_to '新規作成', new_post_path, class: 'dropdown-link' %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-link' %></li>
              <li class="dropdown-item"><%= link_to '退会', @user, method: :delete, data: { confirm: "本当に退会しますか？" }, class: 'dropdown-link' %></li>
              
            </ul>
          </li>
          <% else %>
            <li class="nav-item"><%= link_to '会員登録', signup_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
          <% end %>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
